.dataItem{
    fill: #4682b4;
}

.dataItemSelected{
    fill: #f5ab71;
}

.dataContextItem{
    fill: #b3b3b3;
}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}