.confirm-dialog {
  text-align: center;
  width: 500px;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 20px 75px rgb(0 0 0 / 23%);
  color: rgb(0, 0, 0);
  border-radius: 5px;
}

.confirm-dialog p {
  text-align: left;  
}

.confirm-dialog button {
  display: inline-block;
  background-color: #4c7faf;
  border: none;
  color: white;
  width: 80px;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none; 
  margin: 5px;
  border-radius: 2px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.confirm-dialog-overlay {
  background-color: rgba(36, 36, 36, 0.5);
}