<!DOCTYPE html>
<html>
<head>
<style>
img   {width: 60px; margin-right: 10px;}
</style>
</head>
<body>
    <img src="uploadData.svg">
    <img src="cloudData.svg">
    <img src="downloadData.svg">
    <img src="transformData.svg">
    <img src="mergeData.svg">
    <img src="aggregateData.svg">
    <img src="minePatterns.svg">
    <img src="mineCorrelation.svg">
    <img src="causality.svg">
    <img src="scikitlearn.svg">
    <img src="scikitlearn2.svg">
    <img src="linearRegression.svg">
    <img src="rollingRegression.svg">
    <img src="rollingReg.svg">
    <img src="tensorFlow.svg">
    <img src="predict.svg">
    <img src="browsePatterns.svg">
    <img src="visualizeData.svg">
</body>
</html>

